<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″/>
    <title>丝路 易购-运价好礼送不停</title>
    <link rel="stylesheet" href="../build/css/style.min.css" />
    <script src="../build/js/build.min.js"></script>
</head>

<body>
    <header class="header-title-img-content">
        <img src="../build/images/banner.png" alt="banner">
    </header>
    <main class="coupon-content">
        <h2 class="none main-title fz2rem title-animate">活动一 : 新用户注册</h2>
        <p class="sub-title fz2rem sub-title-animate">立领￥200优惠券大礼包</p>
        <div class="price-table">
            <table>
                <thead>
                    <tr>
                        <td>总金额</td>
                        <td>面额</td>
                        <td>使用规则</td>
                        <td>有效期</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="6">￥200</td>
                        <td>￥20</td>
                        <td>无门槛使用</td>
                        <td>7天</td>
                    </tr>
                    <tr>
                        <td>￥20</td>
                        <td>满￥200使用</td>
                        <td rowspan="5">30天</td>

                    </tr>
                    <tr>
                        <td>￥30</td>
                        <td>满￥300使用</td>
                    </tr>
                    <tr>
                        <td>￥30</td>
                        <td>满￥300使用</td>
                    </tr>
                    <tr>
                        <td>￥50</td>
                        <td>满￥1000使用</td>
                    </tr>
                    <tr>
                        <td>￥50</td>
                        <td>满￥1000使用</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--立即注册-->
        <a href="#" class="register">马上注册,立领红包</a>
        <h2 class="none main-title fz2rem title-animate">活动二 : 分享领钱</h2>
        <div class="sub-title-content mt1rem">
            <p class="none fz14rem sub-title-animate">送给朋友￥100礼包优惠</p>
            <p class="none fz14rem sub-title-animate">当TA注册成功后,你也将获得同等￥100礼包</p>
        </div>
        <div class="sub-title-content mt1rem flex flex-vc">
            <div class="sub-title-img">
                <img src="../images/example.png" alt="loading">
            </div>
            <div class="box-flex-1">
                <p class="none fz14rem sub-title-animate">比如：你分享给10个新用户,当他们都成功注册后</p>
                <p class="none fz14rem sub-title-animate">您将获得总价值￥1000的超级大礼包</p>
                <p class="none fz14rem sub-title-animate">返现时间以用户注册时间为准</p>
            </div>
        </div>
        <div class="price-table mt2rem">
            <table>
                <thead>
                    <tr>
                        <td>总金额</td>
                        <td>面额</td>
                        <td>使用规则</td>
                        <td>有效期</td>
                        <td>适用</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="4">￥100</td>
                        <td rowspan="2">￥20</td>
                        <td>无门槛使用</td>
                        <td>7天</td>
                        <td>老用户</td>
                    </tr>
                    <tr>
                        <td>满￥200使用</td>
                        <td rowspan="5">30天</td>
                        <td>老用户</td>
                    </tr>
                    <tr>
                        <td>￥30</td>
                        <td>满￥500使用</td>
                        <td rowspan="2">都适用</td>
                    </tr>
                    <tr>
                        <td>￥30</td>
                        <td>满￥2000使用</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mt2rem generalize">
            <h2 class="none main-title fz2rem title-animate">多送多得，无上限!</h2>
            <p class="none  fz2rem sub-title-animate">电脑登陆你的丝路账户</p>
            <p class="none  fz2rem sub-title-animate">在" 个人中心 "可以查看您的专属推广链接</p>
            <div class="generalize-link">
                <img src="../images/Extension.png" alt="">
            </div>
        </div>
    </main>
</body>

</html>