<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″/>
    <title>FBA全系产品折扣</title>
    <link rel="stylesheet" href="../build/css/style.min.css" />
    <script src="../build/js/build.min.js"></script>
</head>

<body>
    <div class="header-title-img-content">
        <img src="../images/banner-pc.png" alt="banner">
    </div>
    <div class="prime-day-pc-main">
        <div class="prime-day-pc-section">
            <h2 class="none title sub-title-animate">丝路忆购Prime Day 优惠开启,5.15号———6.20号伴您低价备货入仓！</h2>
        </div>
        <div class="prime-day-pc-content">
            <div class="prime-day-pc-wrap">
                <div class="fix-btn">
                    <ul class="none">
                        <li><a href="#"><img src="../images/zixun.png" alt=""></a></li>
                        <li><a href="#"><img src="../images/zhuce.png" alt=""></a></li>
                    </ul>
                </div>
                <div class="prime-day-pc-title title-animate">
                    <h2 class="none title">活动一：FBA全系产品触底价折扣</h2>
                </div>
                <div class="prime-day-pc-flight">
                    <ul class="none">
                        <li class="left-animate item-1"><img src="../images/flight2.png" alt="loading"></li>
                        <li class="right-animate item-2"><img src="../images/flight1.png" alt="loading"></li>
                    </ul>
                </div>
                <div class="prime-day-pc-btn-section sub-title-animate">
                    <a href="#">即刻查价</a>
                </div>
                <div class="prime-day-pc-title title-animate" style="line-height:36px;padding-top:15px;">
                    <h2 class="none title">
                        <p class="none">活动二：按发货总金额免费送券</p>
                        <p class="none">最高说￥1000优惠券大礼包,领券到手软</p>
                    </h2>
                </div>
                <div class="prime-day-pc-list">
                    <ul class="none">
                        <li class="item">发货总金额</li>
                        <li class="spacing"></li>
                        <li class="item">返券总金额</li>
                    </ul>
                </div>
                <div class="prime-day-pc-list">
                    <ul class="none">
                        <li class="item">￥3000~￥6000</li>
                        <li class="spacing"></li>
                        <li class="item">￥300大礼包 <a href="#" class="show-info">查看礼包组合</a></li>
                    </ul>
                </div>
                <div class="prime-day-pc-list">
                    <ul class="none">
                        <li class="item">￥6000~￥10000</li>
                        <li class="spacing"></li>
                        <li class="item">￥600大礼包 <a href="#" class="show-info">查看礼包组合</a></li>
                    </ul>
                </div>
                <div class="prime-day-pc-list">
                    <ul class="none">
                        <li class="item">￥10000以上</li>
                        <li class="spacing"></li>
                        <li class="item">￥1000大礼包 <a href="#" class="show-info">查看礼包组合</a></li>
                    </ul>
                </div>
                <div class="prime-day-pc-explain">
                    <div class="explain">
                    <p class="none">活动说明：6.30之前, 按照已扣款的快递类，专线类运单的金额统计满足条件即返。</p>
                    <p class="none indent-left">用户可在 "我的资产-优惠券列表" 中查看;</p>
                    <p class="none" style="margin-top:44px;">抵扣说明：返券到账即可消费。<span class="primary">任意线路,任意产品随意抵扣。</span></p>
                    <p class="none indent-left">优惠券有效期内 (30天) 使用即可 ;</p>
                    <div class="line"></div>
                    <h4 class="text-center">特别申明</h4>
                    <p class="none"><span class="primary">1.以上两项活动与现阶段所有活动均不冲突，可叠加抵扣费用；</span></p>
                    <p class="none">2.以上所有活动解释权归丝路易购平台方所有。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>