<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″/>
    <title>丝路 易购-运价好礼送不停</title>
    <link rel="stylesheet" href="../build/css/style.min.css" />
    <script src="../build/js/build.min.js"></script>
</head>

<body>
    <header class="header-title-img-content">
        <img src="../images/banner.jpg" alt="banner">
    </header>
    <main class="prime-day-main">
        <div class="prime-day-section">
            <h2 class="none title title-animate">丝路忆购Prime Day 优惠开启</h2>
            <p class="none sub-title sub-title-animate">5.15号——————6.20号伴您低价入仓！</p>
        </div>
        <div class="prime-day-content">
            <div class="prime-day-title title-animate">
                <h3 class="none">活动一：FBA全系产品触底价折扣</h3>
            </div>
            <div class="prime-day-flight-info mt2rem">
                <ul class="none flex flex-vc">
                    <li class="box-flex-1 left-animate">
                        <img src="../images/flight2.png" alt="loading">
                    </li>
                    <li class="box-flex-1 right-animate">
                        <img src="../images/flight1.png" alt="loading">
                    </li>
                </ul>
            </div>
            <div class="prime-day-btn-section">
                <a href="#">立即查价</a>
            </div>
            <div class="prime-day-title title-animate mt2rem">
                <h3 class="none">活动二：FBA全系产品触底价折扣</h3>
            </div>
            <div class="prime-day-card">
                <ul class="none flex flex-vc flex-hw">
                    <li>发货总金额</li>
                    <li>返券总金额</li>
                    <li>￥3000~￥6000</li>
                    <li>￥300大礼包</li>
                </ul>
            </div>
        </div>
        <div class="prime-day-table">
            <table>
                <thead>
                    <tr>
                        <td>总金额</td>
                        <td>面额</td>
                        <td>使用规则</td>
                        <td>张数</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="3">￥300大礼包</td>
                        <td>￥20</td>
                        <td>满￥300使用</td>
                        <td>3张</td>
                    </tr>
                    <tr>
                        <td>￥30</td>
                        <td>满￥500使用</td>
                        <td>3张</td>
                    </tr>
                    <tr>
                        <td>￥50</td>
                        <td>满￥800使用</td>
                        <td>3张</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="prime-day-content">
            <div class="prime-day-card" style="margin-top:-25px;">
                <ul class="none flex flex-vc flex-hw">
                    <li>发货总金额</li>
                    <li>返券总金额</li>
                    <li>￥3000~￥6000</li>
                    <li>￥300大礼包</li>
                </ul>
            </div>
            <!--活动说明-->
            <div class="prime-day-explain mt2rem">
                <h4 class="none">活动说明</h4>
                <p>6.30之前, 按照已扣款的快递类，专线类运单的金额统计满足条件即返;</p>
                <p>用户可在"我的资产-优惠券列表"中查看。</p>
                <div class="line"></div>
                <h4 class="none">抵扣说明</h4>
                <p>返券到账即可消费;</p>
                <p class="primary">任意线路，任意产品随意抵扣。</p>
                <div class="line"></div>
                <h4 class="none">特别申明</h4>
                <p class="primary">1.以上两项活动与现阶段所有活动均不冲突</p>
                <p class="primary">可叠加地扣费用;</p>
                <p>2.以上所有活动解释权归丝路易购平台方所有。</p>

            </div>
            <div class="prime-day-btn-section">
                <a href="#">立即注册</a>
            </div>
        </div>
    </main>
</body>

</html>